<!DOCTYPE html>
<html>
<head>
    <title>Questions</title>
    <link rel="stylesheet" href="/css/style.css"> 
     <link rel="icon" type="image/x-icon" href="/css/images/greenatwork-logo.png">
    {{!-- <script src="/js/script.js"></script>  --}}
</head>
<body style="padding:0;">

    <div class = "popup" id="popup-2">    
        <div class="overlay">
            <div class="content">
                <div class="close-btn" onclick="togglePopup()">&times;</div>
                <h1>Confirm Password Change</h1>
                    <span><p>Do you want to save the new password?</p></span>
                <div class="otp-button"><button id="register-button">Confirm</button></div>
                </form>
            </div>
        </div>
    </div>
    <div class = "popup" id="popup-3">    
        <div class="overlay">
            <div class="content">
                <div class="close-btn" onclick="togglePopup2()">&times;</div>
                <h1>New Password Has Been Saved</h1>
                <p>You Will Now Be Redirected</p>
                <div class="otp-button"><button onclick="togglePopup2()">Confirm</button></div>
                </form>
            </div>
        </div>
    </div>
    
    <div class="left-payroll admin-leftdash" style="background-color: var(--white-m); padding:0;">
        <div class="container">
            <div class="emp-info" style="font-weight:bold;">
                    <!-- Placeholder info -->

                    {{!-- <div class="log-field">
                        <span class="label">Question 1: </span> {{questionData.Question_1}}
                        <span class="label">Answer 1:   </span> 
                        <span>
                            <input type="password" name="answerOne" placeholder="Answer" id="answerOne">
                            <i class="fi fi-rr-eye-crossed pw-icon" id="eye-icon-1"></i>
                        </span>
                    </div>


                    <span>
                        <div class="label"> Question 1: {{questionData.Question_1}}</div>
                        <div class="log-field">
                        <span>
                            Answer 1: 
                            <input type="password" name="answerOne" placeholder="Answer" id="answerOne">
                            <i class="fi fi-rr-eye-crossed pw-icon" id="eye-icon-1"></i>
                        </span>
                        </div>
                    </span>


                    <p><span class="label">Question 1: </span> <span>{{questionData.Question_1}}</span></p>
                    <p><span class="label">Answer 1:</span> 
                    <span class="log-field">
                        <input type="password" name="answerOne" placeholder="Answer" id="answerOne">
                        <i class="fi fi-rr-eye-crossed pw-icon" id="eye-icon-1"></i>
                    </span>
                    </p> --}}


                    <p><span class="label">Question 1:</span> {{questionData.Question_1}} <span></p>
                    <p><span class="label">Answer 1:</span> 
                    <span>
                        <input type="password" name="answerOne" placeholder="Answer" id="answerOne">
                        <i class="fi fi-rr-eye-crossed pw-icon" id="eye-icon-1"></i>
                    </span>
                    </p>

                    <p><span class="label">Question 2:</span> {{questionData.Question_2}} <span></p>
                    <p><span class="label">Answer 2:</span> 
                    <span>
                        <input type="password" name="answerTwo" placeholder="Answer" id="answerTwo">
                        <i class="fi fi-rr-eye-crossed pw-icon" id="eye-icon-2"></i>
                    </span>
                    </p>
                
                    <p><span class="label">Old Password:</span> 
                    <span>
                        <input type="password" name="currPass" placeholder="Input Current Password" id="currPass">
                        <i class="fi fi-rr-eye-crossed pw-icon" id="eye-icon-3"></i>
                    </span>
                    </p>
                    <p><span class="label">New Password:</span> 
                    <span>
                        <input type="password" name="newPass" placeholder="Input New Password" id="newPass">
                        <i class="fi fi-rr-eye-crossed pw-icon" id="eye-icon-4"></i>
                    </span>
                    </p>
                    <p><span class="label">Confirm New Password:</span> 
                    <span>
                        <input type="password" name="newPass2" placeholder="Input New Password" id="newPass2">
                        <i class="fi fi-rr-eye-crossed pw-icon" id="eye-icon-5"></i>
                    </span>
                    </p>

                <div class="ad-left-btn">
                    <button type="button"  class="ad-leftdash-btn" onclick="togglePopup()">
                        <p>Confirm Password Change</p>
                    </button>
                </div>        
            </div>
        </div>
        </div>
    </div>

{{!-- sidenav --}}


{{#if (eq empType "Employee")}}
    {{> empsidenav}}
{{else if (eq empType "Work From Home")}}
    {{> empsidenav}}
{{else if (eq empType "Admin")}}
    {{> adminsidenav}}
{{else}}
    {{> mansidenav}}
{{/if}}





<script src="/js/change.js"></script>
</body>
</html>